In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
import GlobalLibrary as G

importing Jupyter notebook from /nbs/GlobalLibrary.ipynb

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

Requirement already satisfied: pandasvault in /usr/local/lib/python3.6/dist-packages (0.0.3)
Requirement already satisfied: sklearn in /usr/local/lib/python3.6/dist-packages (from pandasvault) (0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasvault) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasvault) (1.19.4)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from sklearn->pandasvault) (0.22.2.post1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasvault) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasvault) (2.8.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->pandasvault) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->sklearn->pandasvault) (1.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas->pandasvault) (1.15.0)

#Item Based Recomendation System

In [ ]:
%cd /content/drive/MyDrive/Movie DataSet

/content/drive/MyDrive/Movie DataSet

In [ ]:
G.kaggleImport()

In [ ]:
!kaggle datasets download -d grouplens/movielens-20m-dataset

Downloading movielens-20m-dataset.zip to /content/drive/MyDrive/Movie DataSet
 96% 188M/195M [00:02<00:00, 125MB/s]
100% 195M/195M [00:02<00:00, 94.6MB/s]

In [ ]:
!unzip '/content/drive/MyDrive/Movie DataSet/movielens-20m-dataset.zip'

Archive:  /content/drive/MyDrive/Movie DataSet/movielens-20m-dataset.zip
  inflating: genome_scores.csv
  inflating: genome_tags.csv
  inflating: link.csv
  inflating: movie.csv
  inflating: rating.csv
  inflating: tag.csv

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/Movie DataSet/movie.csv')

In [ ]:
movie.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
rating = pd.read_csv('/content/drive/MyDrive/Movie DataSet/rating.csv')

In [ ]:
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [ ]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [ ]:
movie = movie.loc[:,['movieId','title']]

In [ ]:
rating = rating.loc[:,["userId","movieId","rating"]]

In [ ]:
len(movie),len(rating)

(27278, 20000263)

In [ ]:
data = pd.merge(movie,rating)

In [ ]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       3     4.0
1        1  Toy Story (1995)       6     5.0
2        1  Toy Story (1995)       8     4.0
3        1  Toy Story (1995)      10     4.0
4        1  Toy Story (1995)      11     4.5

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column   Dtype
---  ------   -----
 0   movieId  int64
 1   title    object
 2   userId   int64
 3   rating   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 762.9+ MB

In [ ]:
data = data.iloc[:1000000,:]

In [ ]:
pivot_table = data.pivot_table(index=['userId'],columns=['title'],values='rating')

In [ ]:
pivot_table.head(10)

title   Ace Ventura: When Nature Calls (1995)  ...  Young Poisoner's Handbook, The (1995)
userId                                         ...
1                                         NaN  ...                                    NaN
2                                         NaN  ...                                    NaN
3                                         NaN  ...                                    NaN
4                                         3.0  ...                                    NaN
5                                         NaN  ...                                    NaN
6                                         NaN  ...                                    NaN
7                                         NaN  ...                                    NaN
8                                         1.0  ...                                    NaN
10                                        NaN  ...                                    NaN
11                                        3.5  ...                                    NaN

[10 rows x 146 columns]

In [ ]:
movie_watched = pivot_table["Bad Boys (1995)"]
sim = pivot_table.corrwith(movie_watched)
sim = sim.sort_values(ascending=False)

In [ ]:
sim.head()

title
Bad Boys (1995)                        1.000000
Headless Body in Topless Bar (1995)    0.723747
Last Summer in the Hamptons (1995)     0.607554
Two Bits (1995)                        0.507008
Shadows (Cienie) (1988)                0.494186
dtype: float64